/* purgecss start ignore */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
/* purgecss end ignore */

@import 'tailwindcss/utilities';

/* Text input */
/* @import './style/text-input.css'; */

/* Ovveride nprogress color */
#nprogress {
  --color-nprogress: #f7fafc !important;
}

/* IOS Safari reset */

textarea,
input[type='text'],
input[type='password'],
input[type='button'],
input[type='submit'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  background: none;
}
